.card-auth{
  background-color: transparent;
  border: 2px solid #66623f;
  border-radius: 5px;
  padding: 15px;
}

.title-auth {
  color: #c62f3a;
	letter-spacing: 2px;
}

.link-auth {
  cursor: pointer;
  color: #949494!important;
}

label {
	font-size: 20px;
  color: #949494;
}

.form-control {
	background-color: #151515;
	border-radius: 20px;
	color: #817a61;
	border: none;
	padding: 0.6rem 1rem;
}

.btn-secondary, .btn-secondary:hover, .btn-secondary:focus {
	background: none;
	border: none;
	box-shadow: none;
	color: #d82d39;
	border-top: 1.5px solid #66623f;
	border-bottom: 1.5px solid #66623f;
}

.btn-bingo {
  color: var(--gold);
  text-transform: uppercase;
  font-weight: 800;
  border: 2px solid var(--gold);
}

.btn-bingo:hover {
  border: 2px solid rgb(130, 130, 130)!important;
}

.btn-bingo:focus {
  background-color: #141414;
}